    <ion-header class="header">
      <ion-toolbar color="secondary">
        <ion-title text="center">Calculate Estimated Coin Profit</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content >
      <div id="contains">
      <p text="center" >
         this calculator shows you the profit you will get and the unit you will get by  providing the amount you have.
             </p>
             </div>
             <div id="contains">
             <ion-item>
              <ion-label position="stacked">The amount i have<ion-icon name="information-outline"></ion-icon></ion-label>
              <ion-input><ion-icon name="logo-usd"></ion-icon></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Unit Buy Price<ion-icon name="information-outline"></ion-icon></ion-label>
              <ion-input><ion-icon name="logo-usd"></ion-icon></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Estimated Unit Sell Price<ion-icon name="information-outline"></ion-icon></ion-label>
              <ion-input><ion-icon name="logo-usd"></ion-icon></ion-input>
            </ion-item>
            <ion-button expand="block">Calculate Profit</ion-button>
          </div>

    </ion-content>
  
  

 
